<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

    <title>Project Zonda - Simulation</title>
</head>
<body class="has-navbar-fixed-top">
  <div id="app">
    <vc-navbar></vc-navbar>
    <div style="display: block; position: absolute; width: 100vw; bottom: 56px;">
      <div style="display: block; position: fixed; top: 52px; bottom: 56px; left: 0; width: 20vw; overflow-y: scroll">
            <b-collapse class="card" v-bind:open="true" animation="slide" aria-id="contentIdForGeneral">
              <div slot="trigger" slot-scope="props" class="card-header" role="button" aria-controls="contentIdForGeneral">
                <p class="card-header-title">
                    General
                </p>
                <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                </a>
              </div>
              <div class="card-content">
                <div class="content">
                   <vc-input type="text" v-model="simulation.name" placeholder="Enter simulation name">Simulation Name</vc-input>
                   <vc-input type="text" v-model="simulation.id" placeholder="Enter simulation ID">Simulation ID</vc-input>
                </div>
              </div>
            </b-collapse>

            <b-collapse class="card" v-bind:open="false" animation="slide" aria-id="contentIdForDomain">
              <div slot="trigger" slot-scope="props" class="card-header" role="button" aria-controls="contentIdForDomain">
                <p class="card-header-title">
                    Computational Domain
                </p>
                <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                </a>
              </div>
              <div class="card-content">
                <div class="content">
                   <vc-input type="number" v-model="domain.xMin" placeholder="Enter minimum x value">X Minimum (m)</vc-input>
                   <vc-input type="number" v-model="domain.xMax" placeholder="Enter maximum x value">X Maximum (m)</vc-input>
                   <vc-input type="number" v-model="domain.yMin" placeholder="Enter minimum y value">Y Minimum (m)</vc-input>
                   <vc-input type="number" v-model="domain.yMax" placeholder="Enter maximum y value">Y Maximum (m)</vc-input>
                   <vc-input type="number" v-model="domain.zMin" placeholder="Enter minimum z value">Z Minimum (m)</vc-input>
                   <vc-input type="number" v-model="domain.zMax" placeholder="Enter maximum z value">Z Maximum (m)</vc-input>
                </div>
              </div>
            </b-collapse>

            <b-collapse class="card" v-bind:open="false" animation="slide" aria-id="contentIdForParameters">
              <div slot="trigger" slot-scope="props" class="card-header" role="button" aria-controls="contentIdForParameters">
                <p class="card-header-title">
                    Modelling Parameters
                </p>
                <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                </a>
              </div>
              <div class="card-content">
                <div class="content">
                   <vc-input type="number" v-model="parameters.meshSize" placeholder="Enter mesh size">Mesh characteristic size (m)</vc-input>
                   <vc-input type="number" v-model="parameters.timeStep" placeholder="Enter time step">Time step (s)</vc-input>
                </div>
              </div>
            </b-collapse>

            <div class="container has-text-centered pt-2"> <!-- style="padding-top: 1rem;" -->
              <button class="button is-primary">Start simulation</button>
            </div>

      </div>
      <div style="display: block; position: fixed; top: 52px; bottom: 56px; left: 20vw; right: 0; overflow: hidden">
         <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0" id="threeJsContainer"></div>
         <h1 class="title has-text-grey-light">Viewer for simulation {{ simulation.name }} ({{ simulation.id }}) will be here</h1>
      </div>
    </div>
    <div style="display: block; position: fixed; bottom: 0; left: 0; right: 0;">
     <vc-footer></vc-footer>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  
  <script src="/lib/three.js"></script>

  <script src="/js/viewer.js"></script>
  <script src="/vue-components/vc-navbar.js"></script>
  <script src="/vue-components/vc-footer.js"></script>
  <script src="/vue-components/vc-input.js"></script>
  <script src="/js/vm-simulation.js"></script>
</body>
</html>
